<header class="main-header" *ngIf="showHeader" data-textid="header">
    <div (click)="navigateHome()">
        <img src="../assets/logo.png">
        <h1 class="d-none d-sm-block">VocabWizard</h1>
    </div>

    <div>
        <button *ngIf="isAdmin()" mat-raised-button color="primary" class="m-2" (click)="onManageUsersClick()">
            Manage Users
        </button>
        <button mat-raised-button color="warn" class="m-2" (click)="logout()">
            Logout
        </button>
    </div>
</header>