<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <form class="bg-light col-11 col-sm-8 col-md-7 col-lg-6 col-xl-4 d-flex flex-column p-3 rounded text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 style="font-size: xx-large;" class="mb-3">Login</h1>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput data-testid="login-name-input-field">
            <mat-error *ngIf="loginForm.get('name')?.errors?.['required']" data-testid="login-name-mat-error">Required</mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" autocomplete="on" formControlName="password" matInput data-testid="login-password-input-field">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.errors?.['required']" data-testid="login-password-mat-error">Required</mat-error>
        </mat-form-field>
        
        <p *ngIf="generalErrorMessage.length > 0" class="text-danger" data-testid="login-general-error">{{ generalErrorMessage }}</p>
        <button data-testid="login-submit-button" [disabled]="isLoading || loginForm.invalid" mat-raised-button color="primary">Submit</button>
        <mat-progress-bar *ngIf="isLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>

        <div class="d-flex mt-4">
            <span style="margin-right: 5px">Don't have an account?</span>
            <a [routerLink]="['/register']" data-testid="register-link">Register</a>
        </div>
    </form>
</div>