<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <form class="bg-light col-11 col-sm-8 col-md-7 col-lg-6 col-xl-4 d-flex flex-column p-3 rounded text-center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1 style="font-size: xx-large;" class="mb-3">Register</h1>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-error *ngIf="registerForm.get('name')?.errors">{{ getNameError() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" autocomplete="on" formControlName="password" matInput>
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('password')?.errors">{{ getPasswordError() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Password-Confirmation</mat-label>
            <input [type]="hidePasswordConfirmation ? 'password' : 'text'" autocomplete="on" formControlName="passwordConfirmation" matInput>
            <button type="button" mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation">
                <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('passwordConfirmation')?.errors">{{ getPasswordConfirmationError() }}</mat-error>
        </mat-form-field>
        
        <p *ngIf="generalErrorMessage.length > 0" class="text-danger">{{ generalErrorMessage }}</p>
        <button [disabled]="isLoading || registerForm.invalid" mat-raised-button color="primary">Submit</button>
        <mat-progress-bar *ngIf="isLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>

        <div class="d-flex mt-4">
            <span style="margin-right: 5px">Already have an account?</span>
            <a [routerLink]="['/login']">Login</a>
        </div>
    </form>
</div>