<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <form class="bg-light col-11 col-sm-8 col-md-7 col-lg-6 col-xl-4 d-flex flex-column p-3 rounded text-center" [formGroup]="importForm" (ngSubmit)="onSubmit()">
        <h1 style="font-size: xx-large;" class="mb-3">Import Deck</h1>

        <mat-form-field class="mb-2" appearance="fill">
            <mat-label>Deck ID</mat-label>
            <input formControlName="id" matInput>
            <mat-error *ngIf="importForm.get('id')?.errors">{{ getIdError() }}</mat-error>
        </mat-form-field>
        
        <p *ngIf="generalErrorMessage.length > 0" class="text-danger">{{ generalErrorMessage }}</p>
        <button [disabled]="isLoading || importForm.invalid" mat-raised-button color="primary">Submit</button>
        <mat-progress-bar *ngIf="isLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>
    </form>
</div>