<div *ngIf="isLoading" class="d-flex h-100 align-items-center justify-content-center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="h-100">
    <div class="d-flex justify-content-center h-75 p-4">
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 ">
            <app-vocab-card [frontCardData]="frontCardData" [backCardData]="backCardData" />
        </div>
    </div>

    <div *ngIf="!isCardFrontVisible" class="h-25 w-100 button-grid p-3">
        <button class="button btn-easy btn" (click)="onEasyClick()">
            <h1><b>Easy</b></h1>
        </button>
        <button class="button btn-good btn" (click)="onGoodClick()">
            <h1><b>Good</b></h1>
        </button>
        <button class="button btn-hard btn" (click)="onHardClick()">
            <h1><b>Hard</b></h1>
        </button>
        <button class="button btn-repeat btn" (click)="onRepeatClick()">
            <h1><b>Repeat</b></h1>
        </button>
    </div>

    <div *ngIf="isCardFrontVisible" class="h-25 w-100 d-flex align-items-center justify-content-center">
        <button class="btn btn-next" (click)="onCheckClick()">
            <h1><b>Check</b></h1>
        </button>
    </div>
</div>